{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    {{ career-profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}

{% for career-profile in career-profile.assignments %}
  <div class="item">

    <span class="career-profile-title">
      {% if career-profile.link %}
      <a href="{{ career-profile.link }}" target="_blank">{{ career-profile.title }}</a>
      {% else %}
      {{ career-profile.title }}
      {% endif %}
    </span>

    {% if career-profile.tagline %}
    - <span class="career-profile-tagline">{{ career-profile.tagline }}</span>
    {% endif %}

  </div><!--//item-->
{% endfor %}
