{% assign trainig = site.data.data.trainig %}
{% if trainig %}
<section class="section trainig-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Training
<!--     Experiences -->
  </h2>

  {% for trainig in trainig %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ trainig.role }}</h3>
        <div class="time">{{ trainig.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ trainig.company }}</div>

    </div><!--//meta-->

    {% if trainig.details %}
    <div class="details">
      {{ trainig.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}

